In [1]:
import os
import pandas as pd

In [2]:
file_load = "cleaning_data.ipynb"

In [3]:
file_load

'cleaning_data.ipynb'

In [4]:
missing_grade = df.file_load

NameError: name 'df' is not defined

In [5]:
missing_grade = df.file_load()

NameError: name 'df' is not defined

In [6]:
file_load.df()

AttributeError: 'str' object has no attribute 'df'

In [7]:
missing_grades.csv = pd.read_csv(file_load)

ParserError: Error tokenizing data. C error: Expected 1 fields in line 4, saw 2

In [8]:
missing_grades = pd.read_csv(file_load)

ParserError: Error tokenizing data. C error: Expected 1 fields in line 4, saw 2

In [9]:
missing_grade_df = pd.read_csv(file_to_load)

NameError: name 'file_to_load' is not defined

In [10]:
missing_grade_df = pd.read.csv(file_load)

AttributeError: module 'pandas' has no attribute 'read'

In [11]:
file_to_load = os.path.join("cleaning_data.ipynb")

In [12]:
file_to_load

'cleaning_data.ipynb'

In [13]:
missing_grade_df = pd.read_csv(file_to_load)

ParserError: Error tokenizing data. C error: Expected 1 fields in line 4, saw 2

In [14]:

file_to_load = "missing_grades.csv"

In [15]:
file_to_load

'missing_grades.csv'

In [16]:
missing_grade_df = pd.read_csv(file_to_load)

In [17]:
missing_grade_df

   Student ID       student_name gender grade  reading_score  math_score
0           0       Paul Bradley      M   9th           66.0        79.0
1           1       Victor Smith      M  12th           94.0        61.0
2           2    Kevin Rodriguez      M  12th            NaN        60.0
3           3  Dr. Richard Scott      M  12th           67.0        58.0
4           4         Bonnie Ray      F   9th           97.0        84.0
5           5      Bryan Miranda      M   9th           94.0         NaN
6           6      Sheena Carter      F  11th           82.0        80.0
7           7       Nicole Baker      F  12th           96.0        69.0

In [18]:
missing_grade_df.fillna(85)

   Student ID       student_name gender grade  reading_score  math_score
0           0       Paul Bradley      M   9th           66.0        79.0
1           1       Victor Smith      M  12th           94.0        61.0
2           2    Kevin Rodriguez      M  12th           85.0        60.0
3           3  Dr. Richard Scott      M  12th           67.0        58.0
4           4         Bonnie Ray      F   9th           97.0        84.0
5           5      Bryan Miranda      M   9th           94.0        85.0
6           6      Sheena Carter      F  11th           82.0        80.0
7           7       Nicole Baker      F  12th           96.0        69.0